
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Map</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <style>
    body {
        color: #cccccc;
        font-family:Monospace;
        font-size:13px;
        text-align:center;

        background-color: #050505;
        margin: 0px;
        overflow: hidden;
    }

    #info {
        position: absolute;
        top: 0px; width: 100%;
        padding: 5px;
    }

    a {

        color: #0080ff;
    }
    .infoParticula{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 300px;
        background-color: rgba(255,255,255,.9);
        box-shadow: 0px 0px 5px rgba(255,255,255,.8);
        -webkit-transition: all 300ms ease;
        -mz-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
    }
    .infoParticula:hover{
        box-shadow: 0px 0px 10px rgba(255,255,255,.8);
    }
    .infoParticula > h2,
    .infoParticula > span{
        width: 100%;
        display: block;
        padding: 5px;
        text-align: center;
        color: black;
    }
</style>
</head>
<body>

    <div id="container"></div>
    <div id="info"><a href="http://threejs.org" target="_blank">three.js</a> webgl - buffergeometry - particles</div>

    <script src="{{ STATIC_URL }}js/three/three.min.js"></script>
    <script src="{{ STATIC_URL }}js/three/controls/OrbitControls.js"></script>
    <script src="{{ STATIC_URL }}js/three/Detector.js"></script>
    <script src="{{ STATIC_URL }}js/three/libs/stats.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>

    <script>
    
    if ( ! Detector.webgl ) Detector.addGetWebGLMessage();

    var container, stats, controls;
    var camera, scene, renderer;
    var mesh;

    var geometry, sphereThree;

    var info = document.createElement( 'div' );
    info.className += "infoParticula";
    document.body.appendChild( info );

    var projector = new THREE.Projector();
    document.addEventListener( 'mousedown', onDocumentMouseDown, false);
    var sphereGeometry = new THREE.SphereGeometry(2000, 10, 10);
    var sphereMaterial = {};
    sphereMaterial["C"] = { name:"Cometa",
                                material:new THREE.MeshBasicMaterial({color: 0xffffff, wireframe: true})};
    sphereMaterial["M"] = {name:"Meteoro",
                                material:new THREE.MeshBasicMaterial({color: 0x800080, wireframe: true})};
    sphereMaterial["O"] = {name: "Otros",
                                material:new THREE.MeshBasicMaterial({color: 0x008000, wireframe: true})};
    sphereMaterial["R"] = {name: "Observacion",
                                material:new THREE.MeshBasicMaterial({color: 0xFF0000, wireframe: true})};
    
    


    init();
    animate();



    function init() {

        container = document.getElementById( 'container' );
        
        //
        
        camera = new THREE.PerspectiveCamera( 30, window.innerWidth / window.innerHeight, 50, 5000000 );
        camera.position.z = 420000;
        
        scene = new THREE.Scene();
        //scene.fog = new THREE.Fog( 0x050505, 2000, 3500 );
        
        //
        
        var limit = 100000;
        
        
        sphereThree = [];

        var mesh = new THREE.Mesh( new THREE.SphereGeometry( 2000, 100, 100), new THREE.MeshBasicMaterial( { color: 0xFFFF00, wireframe: true } ) );
        mesh.position.x = 0;
        mesh.position.y = 0;
        mesh.position.z = 0;
        scene.add( mesh );
        
        //
        
        renderer = new THREE.WebGLRenderer( { antialias: false } );
        //renderer.setClearColor( scene.fog.color, 1 );
        renderer.setSize( window.innerWidth, window.innerHeight );
        
        container.appendChild( renderer.domElement );

        //

        stats = new Stats();
        stats.domElement.style.position = 'absolute';
        stats.domElement.style.top = '0px';
        container.appendChild( stats.domElement );

        //

        window.addEventListener( 'resize', onWindowResize, false );
        controls = new THREE.OrbitControls( camera );
        controls.addEventListener( 'change', render ) ;
        setInterval(function(){update_data()}, 1000);
    }

    function onWindowResize() {
        
        windowHalfX = window.innerWidth / 2;
        windowHalfY = window.innerHeight / 2;
        
        camera.aspect = window.innerWidth / window.innerHeight;
        camera.updateProjectionMatrix();
        
        renderer.setSize( window.innerWidth, window.innerHeight );
        
    }

    //

    function animate() {

        requestAnimationFrame( animate );
        
        render();
        stats.update();
        controls.update();
        
    }

    function render() {
        
        //var time = Date.now() * 0.001;
        
        //particleSystem.rotation.x = time * 0.25;
        //particleSystem.rotation.y = time * 0.5;
        
        renderer.render( scene, camera );
        
    }

    function onDocumentMouseDown( event ) {
        
        event.preventDefault();

        for (var i = 0; i < sphereThree.length; i++) {

            if(sphereThree[i].observado){
                sphereThree[i].material = sphereMaterial[sphereThree[i].type[0]].material;
                sphereThree[i].observado = false;
            }
        };
        
        var vector = new THREE.Vector3( 
            ( event.clientX / window.innerWidth ) * 2 - 1, 
                - ( event.clientY / window.innerHeight ) * 2 + 1, 
            0.5 );
        
        projector.unprojectVector( vector, camera );
        
        var ray = new THREE.Raycaster( camera.position, vector.sub( camera.position ).normalize() );
        
        var intersects = ray.intersectObjects( sphereThree );    
        
        if ( intersects.length > 0 ) {

            var particle = intersects[0].object;
            
            show_info(particle);

            particle.material = sphereMaterial['R'].material;
            particle.observado = true;
        }
        
    }

    function create_astro(obt){
        var spt = new THREE.Mesh(sphereGeometry, sphereMaterial[obt.type].material);
        
        spt.position.x = obt.x;
        spt.position.y = obt.y;
        spt.position.z = obt.z;
        
        spt.type = sphereMaterial[obt.type].name;
        spt.observado = false;
        return spt;

    }


    function show_info(particle){
        var html = '<h2> <strong>Tipo: </strong>' + particle.type + '</h2>';
        html += '<span> <strong>X: </strong>' + particle.position.x + '</span>';
        html += '<span> <strong>Y: </strong>' + particle.position.y + '</span>';
        html += '<span> <strong>Z: </strong>' + particle.position.z + '</span>';
        info.innerHTML = html;
    }


    var  move= false;
    var spn= 20;

    function move_element(element, pp, iter, cn){
        if (iter>= spn || move==false){
            return;
        }
        console.log(element.position)
        element.position.x = parseInt(element.position.x) + parseInt(pp.x);
        element.position.y = parseInt(element.position.y) + parseInt(pp.y);
        element.position.z = parseInt(element.position.z) + parseInt(pp.z);
        console.log(element.position)
        setTimeout(function(){
            move_element(element, pp, iter+1, cn)
        }, cn);
    }



    function update_data(){
        move = false;
        $.get("/data/", function(data){
            move= true;
            if (sphereThree.length == 0){
                $.each(data.data, function(pt, r){
                    sphereThree[r.index] = create_astro(r);
                    scene.add(sphereThree[r.index]);
                });
            }else{
                $.each(data.data, function(pt, r){
                    //sphereThree[r.index].position.x = r.x;
                    //sphereThree[r.index].position.y = r.y;
                    //sphereThree[r.index].position.z = r.z;
                    cn = spn;
                    var pp ={};
                    pp.x = (r.x - sphereThree[r.index].position.x) / cn 
                    pp.y = (r.y - sphereThree[r.index].position.y) / cn 
                    pp.z = (r.z - sphereThree[r.index].position.z) / cn 
                    setTimeout(function(){
                        move_element(sphereThree[r.index], pp, 0, 1200/cn);
                    },
                               5
                              );
                    if(sphereThree[r.index].observado){
                        show_info(sphereThree[r.index]);
                    }

                });
            }
        });
    }

    

            </script>

        </body>
        </html>
